<dialog open style="align-items: stretch;">
  <article>
    <header>
      <button aria-label="Close" rel="prev"
        hx-get="{% url 'note-selected' notebook_id %}?field_name={{ field_name }}&note_id={{ note_id }}"
      ></button>
      <p>
        <strong>Select a note</strong>
        &mdash;
        <a href="#"
          hx-get="{% url 'note-selected' notebook_id %}?field_name={{ field_name }}&note_id="
          hx-swap="outerHTML"
        >Clear</a>
      </p>
    </header>
    <form
      hx-trigger="submit"
      hx-post="{% url 'note-search' notebook_id %}?field_name={{ field_name }}"
      hx-target="#note-search-results"
      hx-swap="innerHTML"
    >
      <input
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="q"
        hx-trigger="input changed delay:500ms"
        hx-get="{% url 'note-search' notebook_id %}?field_name={{ field_name }}"
        hx-target="#note-search-results"
        hx-swap="innerHTML"
        onsubmit="return false"
      />
    </form>
    <ul id="note-search-results">
      {% include 'components/note_search.html' %}
    </ul>
  </article>
</dialog>
