<div hx-target="this" hx-swap="outerHTML">

  <dt>
    <p style="white-space: pre-line;">{{ note_reference.question }}</p>
  </dt>

  <dd>
    {% if note_reference.target_note %}
      <p>
        <a href="{% url 'notes:note:root' note_reference.target_note.id %}">{{ note_reference.target_note }}</a>
      </p>
      <p>{{ note_reference.target_note.content|truncatechars:200 }}</p>
    {% else %}
      <p>
        No answer yet
        <button
          hx-get="{% url 'note-reference-answer' note_reference.id %}"
          hx-trigger="click"
          class="outline"
        >Answer in new note</button>
      </p>
    {% endif %}

  </dd>

  <aside>
    <button
      hx-get="{% url 'note-reference-edit' note_reference.id %}"
      hx-trigger="click"
      class="outline"
    >Edit</button>
    <button
      hx-delete="{% url 'note-reference' note_reference.id %}"
      hx-confirm="Are you sure?"
      class="outline"
    >Delete</button>
  </aside>

  <hr>
</div>
