{% extends 'base.html' %}

{% block title %}
  {{ note.title }}
{% endblock %}

{% block content %}
  <main class="container">

    <section>
      {% include 'components/note.html' with note=note %}
    </section>

    <section>
      <h2>QA</h2>
      <dl>
        {% for reference in note.references.all %}
          {% include 'components/note_reference.html' with note_reference=reference notebook=note.notebook %}
        {% endfor %}
        <p hx-target="this" hx-swap="beforebegin">
          <a href="#"
            hx-get="{% url 'note-reference-create' note.id %}"
            hx-trigger="click"
          >Add QA entry</a>
        </p>
      </dl>
    </section>

  </main>
{% endblock %}
