{% load static %}
{% load unicorn %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}GPT drawer{% endblock %}</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        {% unicorn_scripts %}
    </head>
    <body>
        {% csrf_token %}

        <header class="container main-header">
            <nav>
                <ul>
                    <li><strong><a href="{% url 'home' %}">GPT drawer</a></strong></li>
                </ul>
                <ul>
                    <li><a href="{% url 'notebook-list' %}">Notebooks</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>
